# -------------------------
# Python / Backend
# -------------------------
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/app/graph/test

# env files
backend/.env

# local db / temp files
backend/*.db
backend/*.sqlite3

# old local image folders if any still exist
backend/images/
backend/Blogs/

# -------------------------
# Frontend / Node
# -------------------------
frontend/node_modules/
frontend/dist/
frontend/.env

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

src/*mp4