OPENAI_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
PUTER_TOKEN=

DATABASE_URL="postgresql+psycopg://USERNAME:PASSWORD@HOST:5432/DB_NAME?sslmode=require"
API_BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

AZURE_STORAGE_CONNECTION_STRING="your_storage_connection_string_here"
AZURE_STORAGE_CONTAINER_NAME="blog-images"
BLOB_ACCOUNT_URL="https://blogagentstorage3101.blob.core.windows.net"

#LLM
ROUTER= "gemini-2.5-flash"
RESEARCH= "gemini-2.5-flash-lite"
PLANNER=  "gemini-2.5-flash-lite"
TASK= "gemini-2.5-flash"
WORKER= "gemini-3.1-flash-lite"
IMAGE_DECIDER=  "gemini-2.5-flash-lite"
IMAGE= "gpt-image-2"

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT="Test"