@import "tailwindcss";
@plugin "@tailwindcss/typography";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation:
    fadeIn
    600ms
    ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

.prose em {
  display: block;
  text-align: center;
  color: #9ca3af;
  margin-top: 0.1rem;
  font-size: 0.95rem;
}